<html>
  <head>
    <title>Brett's Portfolio</title>
  </head>
  <body>

    <h1 class='title'>
      Welcome to my Portfolio, <%= params['name'] %>
    </h1>

    <h2 class='subtitle'>
      Your name is: <%= name %>
    </h2>

    <main class='main-content'>
      <section>
        <p>
          I'm currently writing a personal site in
          <a href='http://www.sinatrarb.com'>
            Sinatra
          </a>
          and
          <a href="https://www.ruby-lang.org/en">Ruby</a>.
        </p>
      </section>
    </main>
  </body>
</html>
